/* width */
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2.5px grey;
	border-radius: 4px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background: #404892;
	border-radius: 4px;
}

.navbar-dark {
	background-color: #283396;
}

.footer {
	width: 100%;
	background-color: #283396;
	color: white;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.mycontainer {
	padding-top: 56px;
	display: flex;	
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between
}
