/* width */
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2.5px grey;
	border-radius: 4px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background: #404892;
	border-radius: 4px;
}

.navbar-dark {
	background-color: #283396;
}

.footer {
	width: 100%;
	background-color: #283396;
	color: white;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.mycontainer {
	padding-top: 56px;
	display: flex;	
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between
}

.pagecontent {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.mytitle {
	margin: 10px 0px;
	color: #283396;
}

.wwrap {
	max-width: 100px;
	word-wrap: break-word;
}

.container.mybar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.container.mybar a {
	color: white;
	font-weight: bold;
	padding: 5px 10px;
}

.container.loading {
	display: flex;
	font-weight: bold;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.container form {
	padding: 8px 0px;
}

.container.error {
	font-weight: bold;
	display: flex;
	font-weight: bold;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}
